.exchange-layout{
  display:flex;
  min-height:100vh;
  background:#001133;
}

/* PAGE */

.exchange-page{
  flex:1;
  padding:20px;

  color:white;
}

/* HERO */

.exchange-hero{
  background:#071633;

  border-radius:18px;

  padding:25px;

  margin-bottom:20px;

  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:20px;
}

.exchange-hero h1{
  font-size:34px;
  margin-bottom:8px;

  color:white;
}

.exchange-hero p{
  color:#cbd5e1;
  font-size:14px;
}

/* CONTROLS */

.hero-controls{
  display:flex;
  gap:12px;
}

/* SEARCH */

.search-input{
  width:220px;

  padding:12px;

  border:none;
  border-radius:10px;

  background:#16284f;

  color:white;

  outline:none;
}

.search-input::placeholder{
  color:#94a3b8;
}

/* BUTTON */

.filter-btn{
  padding:12px 18px;

  border:none;
  border-radius:10px;

  background:#16284f;

  color:white;

  cursor:pointer;
}

.active-btn{
  background:#3b82f6;
}

/* GRID */

.users-grid{
  display:grid;

  grid-template-columns:
    repeat(auto-fit,minmax(260px,1fr));

  gap:18px;
}

/* CARD */

.user-card{
  background:#071633;

  border-radius:18px;

  padding:20px;

  position:relative;

  transition:0.3s;
}

.user-card:hover{
  transform:translateY(-4px);
}

/* TOP */

.card-top{
  display:flex;
  align-items:center;
  gap:12px;

  margin-bottom:18px;
}

/* PROFILE */

.profile-wrapper{
  position:relative;
}

.profile-image{
  width:60px;
  height:60px;

  border-radius:50%;

  object-fit:cover;
}

/* STATUS */

.status-dot{
  position:absolute;

  bottom:2px;
  right:2px;

  width:12px;
  height:12px;

  border-radius:50%;

  border:2px solid #071633;
}

.online{
  background:#00ff99;
}

.offline{
  background:gray;
}

/* USER */

.user-info h3{
  font-size:20px;
  margin-bottom:4px;
}

.user-info p{
  color:#cbd5e1;
  font-size:13px;
}

/* MATCH */

.match-badge{
  position:absolute;

  top:18px;
  right:18px;

  background:#16284f;

  color:#60a5fa;

  padding:6px 10px;

  border-radius:10px;

  font-size:12px;
}

/* SKILLS */

.skill-block{
  margin-top:18px;
}

.skill-block h4{
  margin-bottom:10px;
  font-size:16px;
}

/* TAGS */

.tags-container{
  display:flex;
  flex-wrap:wrap;
  gap:8px;
}

.skill-tag{
  padding:7px 12px;

  border-radius:15px;

  font-size:12px;
}

.teach-tag{
  background:#1e40af;
  color:#bfdbfe;
}

.learn-tag{
  background:#064e3b;
  color:#a7f3d0;
}

/* CONNECT BUTTON */

.connect-btn{
  width:100%;

  margin-top:22px;

  padding:12px;

  border:none;
  border-radius:10px;

  background:#3b82f6;

  color:white;

  cursor:pointer;

  font-size:14px;
}

/* EMPTY */

.empty-state{
  background:#071633;

  padding:40px;

  border-radius:18px;

  text-align:center;
}

/* RESPONSIVE */

@media(max-width:900px){

  .exchange-hero{
    flex-direction:column;
    align-items:flex-start;
  }

  .hero-controls{
    width:100%;
    flex-direction:column;
  }

  .search-input,
  .filter-btn{
    width:100%;
  }

}