@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

 
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight:600;
  border-bottom: 1px solid rgb(196,21,21);
  margin-bottom: 20px;
 height: 60px;
 padding: 0 20px; }
 ul {
  display: flex;
  list-style: none;
 }
 ul li {
  margin-right: 50px;
 }
.navbar img{
  width:50;
  margin-left: 50px;
  size:cover;
}
.btn1{
  margin-right: 50px;
  background-color: rgb(196,21,21);
  border:0;
  color:white;
  padding: 10px 25px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
}
.btn1:hover{
  background-color:transparent;
  border: 1px solid rgb(196,21,21);
  color: rgb(196,21,21);
}
.page {
  padding-top: 80px; /* adjust based on navbar height */
}
/* Center login page */
/* Navbar height fix */

/* Remove extra scroll */
.login-container {
  height: calc(100vh - 60px); /* subtract navbar height */
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #a7b0d9, #bbaec8);
}


/* Card */
.login-card {
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
/* Heading */
.login-card h2 {
  margin-bottom: 20px;
}

/* Inputs */
.login-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s;
}

.login-card input:focus {
  border-color: #667eea;
}

/* Button */
.login-btn {
  width: 100%;
  padding: 10px;
  background: #667eea;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #5a67d8;
}
.login-card label {
  display: block;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  color: #555252;
}
.login-card input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s;
}
.login-card input:focus {
  border-color: #667eea;
  box-shadow: 0 0 5px rgba(102,126,234,0.5);
}

/* Small helper text */
.helper-text {
  font-size: 12px;
  color: #888;
  text-align: left;
  margin-top: 3px;
}

/* Error message */
.error-text {
  color: red;
  font-size: 13px;
  text-align: left;
  margin-top: 5px;
}

/* Button spacing */
.login-btn {
  margin-top: 15px;
}
.password-box {
  position: relative;
}

.toggle-btn {
  position: absolute;
  right: 10px;
  top: 35px;
  cursor: pointer;
  font-size: 12px;
  color: #667eea;
}
.nav-links{
  display:flex;
  gap:15px;
}

.nav-links button{
  border:none;
  background:none;
  font-size:14px;
  font-weight:600;
  cursor:pointer;
  color:#374151;
  transition:0.3s;
}

.nav-links button:hover{
  color:#2563eb;
}